<form method="GET" action="/determine" class="search-form">
	<div class="search-wrap">
		<input type="text" class="form-control search-panel" name="search" value="" autocomplete="off" placeholder="Search block index, channel ID, uNS name, public key..."/>
	</div>
	<button type="submit" class="btn btn-primary search-btn"><i class="icon ion-md-search"></i></button>
</form>